.menu-items-container {
  margin-top: 20px; 
}

.home-page-container {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.menu-items-scrollable {
  height: 100%; /* Allow the menu items container to take full height */
  margin-bottom: 20px;
}

.menu-items-scrollable .menu-item-card {
  margin-bottom: 20px; /* Add space between each card */
}

.dropdowns{
  padding-top: 20px;
}

.spacer {
  margin-top: 10px;
}
