.card {
  max-width: 345px;
  margin-bottom: 16px;
  border-radius: 25%;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

@media (max-width: 600px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.addContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0; 
    background-color: white;
    z-index: 999;
    border-radius: 20%;
    margin-bottom: 5%;
}

.list-dialog {
    padding: 5%;
    border-radius: 50%;
}
